body {
    background-color: white;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 10px 5px;
    margin: 5px;
    background-color: skyblue;
    border: black solid 3px;
    border-radius: 10px;
}

li:hover {
    /* background-color: skyblue; */
    background-color: mediumturquoise;
}

#answer, #result {
    display: none;
}

#center {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#question {
    text-align: center;
    padding: 5px;
    background-color: skyblue;
    border: 5px;
    border-radius: 10px;
}

#clock {
    display: flex;
    background-color:palegreen ;
    border: 5px;
    border-radius: 100%;
}

#result {
    text-align: center;
}

#bottom {
    margin: auto;
    display: flex;
    max-width: 50%;
    justify-content: space-between;
}