body {
    background-color: white;
}

#answer, #result {
    display: none;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#center {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#question {
    text-align: center;
}
